<div class="container">

<nav class="nav-bar">
    <h3>Weather Forcast</h3>
</nav>
<div class="mt-2">
    <div class="row">
        <div class="col-md-3">
            <input type="text" placeholder="Search City" [formControl]="cityName" class="form-control w-100">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" [disabled]="!cityName?.value" (click)="onSearchClick()">Search</button>
        </div>
        <div class="col-md-6 search-btn">
            <button class="btn btn-primary"  (click)="viewSearchHistory()">Search History</button>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-9">
        <div id="chartdiv" style="width: 100%; height: 500px"></div>
    </div>
    <div class="col-md-3" *ngIf="searchStatus">
        <div class="mt-2">
            <h3>Search History</h3>
        
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location</th>
                    <th scope="col">Weather</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of searchHistory; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item?.city?.name}}</td>
                    <ng-container >
                        <td>{{item?.list[0]?.main?.temp}}Kelvin,  {{item?.list[0]?.weather[0]?.description}} </td>
                        <td>
                            {{item?.list[0]?.dt_txt | date: 'short'}} UTC
                        </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </div>
</div>
</div>
